.on-map {
    position: absolute;
    z-index: 100;
}

.map-button {
    width: 35px;
    height: 35px;
    text-align: center;
}


.leaflet-clickable {
  cursor: crosshair !important;
}

.leaflet-container {
  cursor: hand !important;
}

/// map component
body {
    margin:0;
    padding:0;
}

#map {
    position:absolute;
    top:50px;
    bottom:0;
    width:60%;
}

/// marker component
#add-marker {
  margin: 20px 0 0 370px;
}

#remove-marker {
  margin: 20px 0 0 410px;
}
